<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
    {%block extra_head%}{%endblock%}
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      PDF Checker - alpha
      {% endblock %}
    </div>
  </body>
</html>