{% extends "base.html" %}
{% import 'forms.html' as forms %}
{%block title%}PDF Checker{%endblock%}
{%block extra_head%}
<script>
var checkCategories = {{cats2|tojson|safe}};
</script>
<script src="{{ url_for('static', filename='form.js') }}">
</script>
{%endblock%}
{% block content %}
<div class="header">
<div class="logo"></div>
<div class="title">PDF Checker</div>
<div class="subtitle">One who never checks, later regrets</div>
</div>
<h1 class='home'>Upload your PDF file</h1>
<div class="uploadForm">
 <form action="/upload" method="POST" enctype="multipart/form-data">
 <label class="form-label mandatory">Document: </label>
 <input type="file" name="file">
 <label class="form-label mandatory"> of Category: </label>
 {{forms.select_widget("cat", categories, cat)}}
  <input type="submit" value="Upload and Check">
  
  <div>
 <h2 class="group-header collapsed">Choose applied checks</h2>
 <div class="group-body">
 {{forms.checks_widget(checks, cat, 3)}}
 </div>
 </div>
 </form>
</div>
{% endblock %}