
html {
    font-family: sans-serif,Arial;
    height: 100%;
}
#page-area {
    height: 97%;
    overflow: auto;
    width: 102%;
    height: calc(100% - 20px);
    width: calc(100% + 15px);
}
body {
    height: 100%;
    margin: 0 8px;
}
#content h1 {
    padding-top: 8px;
    margin-top: 0;
}
#main {
    height: 100%;
}
#results {
    float: right;
    width: 500px;
    max-height: 85%;
    max-height: calc(100% - 72px);
    overflow: auto;
}
div.backNavi {
    clear: both;
    margin-top: 1em;
}
#pdf-viewer {
    float: left;
    margin-bottom: 1em;
    max-width: 800px;
    height: 86%;
    height: calc(100% - 94px);
}
#content {
    height: 93%;
    min-height: 100px;
    height: calc(100% - 40px);
}
#footer {
    clear: both;
    color: grey;
    margin-top: 1em;
}
.check-result {
    font-weight: bold;
    margin-left: 1em;
}
.check-result.failed {
    color: red;
}
#results li.selected {
    background: none repeat scroll 0 0 #90da60;
}
#results ul {
    list-style: none outside none;
    padding-left: 1em;
}
#results ul li {
    cursor: pointer;
    margin: 0.3em 0;
}
span.pos .page:before {
    content: "Pg.";
}
span.pos {
    font-weight: bold;
    margin-right: 1em;
}
span.pos .top:after {
    content: "%";
}
span.pos .top:before {
    content: ":";
    margin: 0 2px;
}

.group-header.collapsed {
    background: url("/static/img/plus.png") no-repeat  0px -2px ;
    background-size: 24px;
}
.group-header {
    font-size: 1.1em;
    margin-top: 2em;
    padding-left: 28px;
    cursor: pointer;
}
.group-header.expanded {
    background: url('/static/img/minus.png') no-repeat  0px -2px ;
    background-size: 24px;
}

.cb_cell.new-row {
    clear: left;
}

.cb_cell {
    width: 100%;
    margin-bottom: 5px;
}

div.col {
	width: 333px;
	padding: 0px 10px;
	float: left;
}

.group-body {
    display: none;
}

#errors {
	display:none
}

.check-help {
    display:inline-block;
    width: 20px;
    height: 24px;
    background: url('/static/img/help.png') no-repeat 0px 4px / 20px auto;
    margin-left: 5px;
    cursor: help;
}

#dialog {
    position:absolute;
    top:0px;
    left:0px;
    z-index:  99;
    width: 100%;
    height: 100%;
    background:rgba(200,200,200,0.9);
    display:none;
    
}

#dialog .dialog-inner {
    width: 66%;
    height: 500px;
    margin: 30px auto;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 5px;
    border: 1px solid grey;
}

#dialog .dialog-content {
    height:460px;
    overflow: auto;
}

#dialog .close-btn {
    font-size: 1.4em;
    font-weight: bold;
    padding:5px;
    background-color: lightgrey;
    border: 1px solid grey;
    width: 10%;
    text-align:center;
    border-radius: 10px;
    margin: 0px auto;
    cursor:pointer;
    margin-top:5px;
}

.cb_cell .cats {
    margin-left:2em;
    font-style:italic;
    font-size:80%;
    color: grey;
}

.form-label.mandatory {
    font-weight: bold;
}

.login-form label {
    font-weight:bold;
    width:8em;
    display:inline-block
}

.login-form input[type="submit"] {
margin-left:8.5em;
}

#name-version {
    cursor:help;
}