
html {
    font-family: sans-serif,Arial;
    height: 100%;
}
#page-area {
    height: 97%;
    overflow: auto;
    width: 102%;
    height: calc(100% - 20px);
    width: calc(100% + 15px);
}
body {
    height: 100%;
    margin: 0 8px;
}
#content h1 {
    padding-top: 8px;
    margin-top: 0;
}
#main {
    height: 100%;
}
#results {
    float: right;
    width: 500px;
}
div.backNavi {
    clear: both;
    margin-top: 1em;
}
#pdf-viewer {
    float: left;
    margin-bottom: 1em;
    max-width: 800px;
    height: 86%;
    height: calc(100% - 94px);
}
#content {
    height: 93%;
    min-height: 100px;
    height: calc(100% - 40px);
}
#footer {
    clear: both;
    color: grey;
    margin-top: 1em;
}
.check-result {
    font-weight: bold;
    margin-left: 1em;
}
.check-result.failed {
    color: red;
}
#results li.selected {
    background: none repeat scroll 0 0 #90da60;
}
#results ul {
    list-style: none outside none;
    padding-left: 1em;
}
#results ul li {
    cursor: pointer;
    margin: 0.3em 0;
}
span.pos .page:before {
    content: "Pg.";
}
span.pos {
    font-weight: bold;
    margin-right: 1em;
}
span.pos .top:after {
    content: "%";
}
span.pos .top:before {
    content: ":";
    margin: 0 2px;
}
